type: sft
code: ./train.py
micro_batch_size: 1
epochs: 2

model:
  name_or_path: Qwen/Qwen3-1.7B

data:
  sources:
    - type: soap
      path: ./soap_dataset
      split: train
  max_length: 8Ki
  ignore_empty_think: true
  pack_samples: true

deepspeed:
  zero_optimization:
    stage: 3
    offload_optimizer:
      device: cpu

optimizer:
  type: cpu_adam
  lr: 1e-5

checkpoint:
  - type: huggingface
    save_end_of_training: true
    output_dir: ./ckpt/Qwen3-1.7B-finetune/