audio
audio/*
audio_raw
audio_raw/*
*.wav
profile.json
rsa*
*.pub
*.prvate
venv
venv/*
streaming-ingest-file-gen/.idea
streaming-ingest-file-gen/.idea/*
streaming-ingest-file-gen/target
streaming-ingest-file-gen/target/*
*.private
*.log
.DS_STORE
.DS_STORE/*
